#main-heading h1 {
  text-align: center;
  margin: 50px 0;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 1200px;
  margin: 0 auto;
}

.photo {
  transition: transform 0.3s;
  height: 300px;
}

.photo:hover {
  transform: scale(1.05);
}

/* Top row */
.photo:nth-child(1),
.photo:nth-child(2) {
  grid-column: span 2;
  grid-row: 1;
}

/* Second row */
.photo:nth-child(3) {
  grid-column: span 1;
  grid-row: 2;
}

.photo:nth-child(4),
.photo:nth-child(5) {
  grid-column: span 2;
  grid-row: 2;
}

/* Third row */
.photo:nth-child(6),
.photo:nth-child(7) {
  grid-column: span 2;
  grid-row: 3;
}

/* Fourth row */
.photo:nth-child(8) {
  grid-column: span 1;
  grid-row: 4;
}

.photo:nth-child(9),
.photo:nth-child(10) {
  grid-column: span 2;
  grid-row: 4;
}